.b1{
    float: left;
    width:33%;
    
    padding-left: 2px;
    margin-top: 50px;
/* 
    padding-left: 10px; */
    /* height:350px;
    border-left:1px solid green; */
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #6f2b09 
    ;
    height: 60px;
}



.nav {
    list-style-type: none;
    display: flex;

}

.nav li a{
    text-decoration: none;
    padding-right: 30px;
    color:lightgrey;
}

body{
    background-color: sienna;
}